# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django
.vagrant*
bin
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile
.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Ignore Virtual Environment
venv/

.vscode/

sent_emails/

# SQLite
*.sqlite3

